<%-include("partials/header.ejs")%>


<!-- carousel of mit images  -->
<!--  -->

  <div class="container2">
<!-- about this application -->

<div class="aboutcontent">
<div class="container">
  <div class="aboutheading"><h1>About this application</h1></div>

</div>









<div class="container">

  <div class="container1">

    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Feature 01</div> 
      <div class="card-body">
        <h5 class="card-title">Student Feedback Submission:</h5>
        <p class="card-text">Students are provided with a platform where they can easily share their opinions, suggestions, and concerns regarding different aspects of their academic journey. This might include feedback about courses, instructors, facilities, and overall campus experience.</p>
      </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Feature 02</div>
      <div class="card-body">
        <h5 class="card-title">Feedback Management: </h5>
        <p class="card-text">Once students submit their feedback, the system collects and organizes the data for administrative review. Feedback entries can be categorized and tagged for easy retrieval and analysis..</p>
      </div>
    </div>
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Feature 03</div>
      <div class="card-body">
        <h5 class="card-title">User Authentication: </h5>
        <p class="card-text">he system incorporates a secure authentication system to ensure that only authorized individuals can access specific functionalities. Students and staff members would have separate login credentials to access their respective portals.</p>
      </div>
    </div>
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Feature 04</div>
      <div class="card-body">
        <h5 class="card-title">Feedback Tracking:</h5>
        <p class="card-text">The system could allow administrators to track the progress of actions taken in response to specific feedback. This helps demonstrate accountability and continuous improvement.</p>
      </div>
    </div>
    
</div>

</div>
</div>
</div>

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/image07.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/image08.png" class="d-block w-100" alt="...">
    </div>
    
  </div>
</div> -->


