<%-include("partials/header.ejs")%>

<div class="alert alert-warning alert-dismissible fade show alertmsg" role="alert"><p>
  <strong>Hello Users!</strong> Now You can enter your feedback by just clicking compose button</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="student">
 
  <!-- content  -->
  <div class="container col-xxl-8 px-4 py-5">
    <!-- <div class="headingone">
        <h1>Campus Voice's</h1>
     </div> -->
   
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/images06.png" class="d-block mx-lg-auto img-fluid heroImg" alt="Bootstrap Themes" width="800" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <div class="headingone">
            <h1><span style="color: rgb(12, 32, 182);">Campus</span> Voice's</h1>
         </div> 
        <h1 class="headingtwo">MIT Chatter Box</h1>
       
        <p class="lead">
          It's a platform provided for students where they can easily share their opinions, suggestions, and concerns regarding different aspects of their academic journey. This might include feedback about courses, instructors, facilities, and overall campus experience.
          
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <div class="contCompose">
          <a href="/compose" class="composeBtn">Compose</a>
        </div>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="4grem">Default</button> -->
        </div>
      </div>
    </div>
  </div>



  <!-- ---------------------------------------------------------------------------------------- -->
  <footer class="py-3 my-4 footer1">

    <p class="text-center text-body-secondary">© 2023 Mahendra Institute Of Technology, Inc . All rights reserved</p>
  </footer>
</div>

  </body>
  </html>